<a href="https://colab.research.google.com/github/yeonsu6531/dustn/blob/main/pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## **pandas 라이브러리 추가**

In [1]:
import pandas as pd

### 복습문제) 
다음 4개의 리스트를 이용하여 각 지역별 평균, 최대, 최소값 리스트를 값으로 가지는 딕션너라를 작성하시오.
* 데이터참고:https://www.airkorea.or.kr/web/weekSearch?pMENU_NO=111
```
area = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]
```

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
area = ['서울',	'부산',	'대구',	'인천',	'광주',	'대전',	'울산',	'세종',	'경기',	'강원',	'충북',	'충남',	'전북',	'전남',	'경북',	'경남',	'제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [4]:
print(area)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']

## 데이터프레임으로 변환
* **pd.DataFrame()**

###  리스트를 데이터프레임으로 변환

In [ ]:
df = pd.DataFrame(area)
df

In [9]:
df = pd.DataFrame(area)
print(df, type(df))

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주 <class 'pandas.core.frame.DataFrame'>

In [11]:
df['평균'] = pm25_avg
df['쵀대'] = pm25_max
df['최소'] = pm25_min
df

     0  평균  쵀대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

### 딕션너리를 데이터프레임으로 변환
* 딕션너리 키 : 열(column)
* 딕션너리 값 : 행(row)

In [ ]:
df = pd.DataFrame(dt)
df

In [ ]:
df = pd.DataFrame()
df['area'] = area
df['avg'] = pm25_avg
df['max'] = pm25_max
df['min'] = pm25_min
df

In [13]:
temp = list(zip(area,pm25_avg,pm25_max,pm25_min ))
print(temp)
df2 = 
df2

[('서울', 20, 22, 16), ('부산', 13, 18, 10), ('대구', 15, 18, 11), ('인천', 20, 30, 12), ('광주', 19, 23, 15), ('대전', 16, 20, 12), ('울산', 14, 16, 11), ('세종', 18, 19, 17), ('경기', 20, 27, 13), ('강원', 14, 18, 9), ('충북', 19, 26, 14), ('충남', 23, 29, 19), ('전북', 23, 30, 14), ('전남', 14, 27, 10), ('경북', 15, 23, 8), ('경남', 13, 17, 9), ('제주', 14, 16, 11)]

     0   1   2   3
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

In [14]:
dtz = list(zip(area,pm25_avg,pm25_max,pm25_min ))

df = pd.DataFrame(dtz)
df.columns = ['area', 'avg', 'max', 'min']
df

   area  avg  max  min
0    서울   20   22   16
1    부산   13   18   10
2    대구   15   18   11
3    인천   20   30   12
4    광주   19   23   15
5    대전   16   20   12
6    울산   14   16   11
7    세종   18   19   17
8    경기   20   27   13
9    강원   14   18    9
10   충북   19   26   14
11   충남   23   29   19
12   전북   23   30   14
13   전남   14   27   10
14   경북   15   23    8
15   경남   13   17    9
16   제주   14   16   11

## 외부 데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.pd.read_excel(‘파일명‘)
```

In [21]:
#지역별주간별_초미세먼지.csv 가져오기 
df = pd.read_csv('/content/drive/MyDrive/파일썬특강/python2021/data/지역별주간별_초미세먼지.csv', engine='python', encoding='cp949')
df

   지역   주간평균   최고값   최저값
0   서울     20    22    16
1   부산     13    18    10
2   대구     15    18    11
3   인천     20    30    12
4   광주     19    23    15
5   대전     16    20    12
6   울산     14    16    11
7   세종     18    19    17
8   경기     20    27    13
9   강원     14    18     9
10  충북     19    26    14
11  충남     23    29    19
12  전북     23    30    14
13  전남     14    27    10
14  경북     15    23     8
15  경남     13    17     9
16  제주     14    16    11

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [22]:
#데이터프레임의 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      17 non-null     object
 1   주간평균    17 non-null     int64
 2   최고값     17 non-null     int64
 3   최저값     17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 672.0+ bytes

In [25]:
df.index
df.columns

Index(['지역 ', '주간평균 ', '최고값 ', '최저값 '], dtype='object')

In [26]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df) )
print('데이터프레임 행 개수 len : ', len(df.index) )
print('데이터프레임 행 개수 shape : ', df.shape[0] )
print('데이터프레임 열 개수 len : ', len(df.columns) )
print('데이터프레임 열 개수 shape : ', df.shape[1] )

데이터프레임 (행, 열) :  (17, 4)
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 shape :  17
데이터프레임 열 개수 len :  4
데이터프레임 열 개수 shape :  4

In [27]:
#데이터프레임 각 열의개수 확인
print(df.count())
print('-'*20)
print(df.count(axis='columns'))

지역       17
주간평균     17
최고값      17
최저값      17
dtype: int64
--------------------
0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
dtype: int64

In [ ]:
#데이터프레임의 원소의 총개수
print(df.size)

In [28]:
#데이터프레임의 인덱스
print('열인덱스 : ', df.columns)
print('행인덱스 :', df.index)

열인덱스 :  Index(['지역 ', '주간평균 ', '최고값 ', '최저값 '], dtype='object')
행인덱스 : RangeIndex(start=0, stop=17, step=1)

In [32]:
df['최고값']

0     22
1     18
2     18
3     30
4     23
5     20
6     16
7     19
8     27
9     18
10    26
11    29
12    30
13    27
14    23
15    17
16    16
Name: 최고값, dtype: int64

In [31]:
#열명의 공백 제거 
df.columns = [item.strip() for item in df.columns]
df.columns

Index(['지역', '주간평균', '최고값', '최저값'], dtype='object')

In [34]:
df.tail(2)

    지역  주간평균  최고값  최저값
15  경남    13   17    9
16  제주    14   16   11

In [35]:
#지역 컬럼을 행 인덱스로 지정
df = df.set_index('지역')
df

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [38]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [37]:
#인덱스를 일반 데이터 열로 전환
df = df.reset_index()
df

    지역  주간평균  최고값  최저값
0   서울    20   22   16
1   부산    13   18   10
2   대구    15   18   11
3   인천    20   30   12
4   광주    19   23   15
5   대전    16   20   12
6   울산    14   16   11
7   세종    18   19   17
8   경기    20   27   13
9   강원    14   18    9
10  충북    19   26   14
11  충남    23   29   19
12  전북    23   30   14
13  전남    14   27   10
14  경북    15   23    8
15  경남    13   17    9
16  제주    14   16   11

## **데이터프레임 인덱싱(indexing)과 슬라이싱(slicing)**

In [39]:
df = df.set_index('지역')
df.head()

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15

### df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스]

In [41]:
#특정 열 가져오기
df['주간평균']

지역
서울    20
부산    13
대구    15
인천    20
광주    19
대전    16
울산    14
세종    18
경기    20
강원    14
충북    19
충남    23
전북    23
전남    14
경북    15
경남    13
제주    14
Name: 주간평균, dtype: int64

In [42]:
df[['주간평균','최고값']]

    주간평균  최고값
지역
서울    20   22
부산    13   18
대구    15   18
인천    20   30
광주    19   23
대전    16   20
울산    14   16
세종    18   19
경기    20   27
강원    14   18
충북    19   26
충남    23   29
전북    23   30
전남    14   27
경북    15   23
경남    13   17
제주    14   16

In [ ]:
#특정행 가져오기
df['부산':'인천']

### df.loc[행인덱스, 열인덱스]
* 특정 열 가져오기 : df.loc[:, 열인덱스]
* 특정 행 가져오기 : df.loc[행인덱스, :]
* 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

In [44]:
df.head()

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15

In [45]:
df[['최저값']]

    최저값
지역
서울   16
부산   10
대구   11
인천   12
광주   15
대전   12
울산   11
세종   17
경기   13
강원    9
충북   14
충남   19
전북   14
전남   10
경북    8
경남    9
제주   11

In [47]:
#특정 열 가져오기
df.loc[:, '대구' : '최저값']

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [48]:
df.loc[:, ['주간평균', '최저값']]

    주간평균  최저값
지역
서울    20   16
부산    13   10
대구    15   11
인천    20   12
광주    19   15
대전    16   12
울산    14   11
세종    18   17
경기    20   13
강원    14    9
충북    19   14
충남    23   19
전북    23   14
전남    14   10
경북    15    8
경남    13    9
제주    14   11

In [49]:
df.loc[:, '주간평균':'최저값']

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [50]:
#특정 행 가져오기
df.loc['부산',:]

주간평균    13
최고값     18
최저값     10
Name: 부산, dtype: int64

In [51]:
df.loc[['부산', '인천'], :]

    주간평균  최고값  최저값
지역
부산    13   18   10
인천    20   30   12

In [52]:
df.loc['부산':'인천', :]

    주간평균  최고값  최저값
지역
부산    13   18   10
대구    15   18   11
인천    20   30   12

In [53]:
#특정 항목 가져오기
df.loc['부산', '주간평균']

13

In [54]:
df.loc[['부산','인천'],['주간평균', '최저값']]

    주간평균  최저값
지역
부산    13   10
인천    20   12

In [ ]:
df.loc['부산':'인천','주간평균':'최저값']

In [60]:
df.loc[['울산'],['주간평균','최고값']]

    주간평균  최고값
지역
울산    14   16

### df.iloc[행인덱스순서, 열인덱스순서]
* 특정 열 가져오기 : df.loc[:, 열인덱스순서]
* 특정 행 가져오기 : df.loc[행인덱스순서, :]
* 특정 항목 가져오기 : df.loc[행인덱스순서, 열인덱스순서]

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값'] 
df.iloc[:, 2]

In [ ]:
#df.loc[:, ['주간평균', '최저값']]
df.iloc[:, [0, 2]]

In [ ]:
#df.loc[:, '주간평균':'최저값']
df.iloc[:, 0:2]

In [ ]:
#특정 행 가져오기
#df.loc['부산',:]
df.iloc[1,:]

In [61]:
#df.loc[['부산', '인천'], :]
df.iloc[[1, 3], :]

    주간평균  최고값  최저값
지역
부산    13   18   10
인천    20   30   12

In [ ]:
#df.loc['부산':'인천', :]
df.iloc[1:4, :]

In [ ]:
#특정 항목 가져오기
#df.loc['부산', '주간평균']
df.iloc[1, 0]

In [ ]:
#df.loc[['부산','인천'],['주간평균', '최저값']]
df.iloc[[0,3],[0, 2]]

In [ ]:
#df.loc['부산':'인천','주간평균':'최저값']
df.iloc[1:4,0:3]

## **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [62]:
df.head(2)

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10

In [63]:
df.tail(2)

    주간평균  최고값  최저값
지역
경남    13   17    9
제주    14   16   11

In [64]:
df.describe()

            주간평균        최고값        최저값
count  17.000000  17.000000  17.000000
mean   17.058824  22.294118  12.411765
std     3.399827   5.009550   3.063063
min    13.000000  16.000000   8.000000
25%    14.000000  18.000000  10.000000
50%    16.000000  22.000000  12.000000
75%    20.000000  27.000000  14.000000
max    23.000000  30.000000  19.000000

## 자주사용되는 메소드

### 행열 전환 : df.T

In [ ]:
df2 = df.T
df2

### 정렬
+ 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
+ 행렬 값 정렬 : df.sort_values()

In [71]:
df

    주간평균  최고값  최저값
지역
강원    14   18    9
경기    20   27   13
경남    13   17    9
경북    15   23    8
광주    19   23   15
대구    15   18   11
대전    16   20   12
부산    13   18   10
서울    20   22   16
세종    18   19   17
울산    14   16   11
인천    20   30   12
전남    14   27   10
전북    23   30   14
제주    14   16   11
충남    23   29   19
충북    19   26   14

In [72]:
df = df.sort_index()

In [74]:
df.sort_values('주간평균', ascending=False)

    주간평균  최고값  최저값
지역
충남    23   29   19
전북    23   30   14
서울    20   22   16
경기    20   27   13
인천    20   30   12
충북    19   26   14
광주    19   23   15
세종    18   19   17
대전    16   20   12
대구    15   18   11
경북    15   23    8
울산    14   16   11
전남    14   27   10
제주    14   16   11
강원    14   18    9
부산    13   18   10
경남    13   17    9

### 문자열 처리
* df['열명'].str

In [77]:
data = pd.read_excel('/content/drive/MyDrive/파일썬특강/python2021/data/특성화학과정보_컴퓨터.xlsx')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             137 non-null    int64
 1   학과명            137 non-null    object
 2   대학명            137 non-null    object
 3   폐과             0 non-null      float64
 4   학과 특성화명        137 non-null    object
 5   특성화 구분         137 non-null    object
 6   특성화분류 (대-중-소)  137 non-null    object
 7   Unnamed: 7     137 non-null    object
 8   Unnamed: 8     137 non-null    object
 9   구분             137 non-null    object
 10  학교종류           137 non-null    object
 11  지역             137 non-null    object
 12  설립유형           137 non-null    object
 13  주야구분           137 non-null    object
 14  표준분류계열(대)      137 non-null    object
 15  표준분류계열(중)      137 non-null    object
 16  표준분류계열(소)      137 non-null    object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 19.4+ KB

In [84]:
s = '울산과학대학교'
s[:-3]

'울산과학'

In [86]:
data['대학명']

0        우송
1        세명
2        중앙
3        목원
4        상명
       ...
132    수원과학
133      청암
134      부천
135      거제
136    울산과학
Name: 대학명, Length: 137, dtype: object

In [103]:
data['대학명'] = data['대학명'].str[:-3]--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [104]:
data.head()

   No                학과명 대학명  폐과  ... 표준분류계열(대)  표준분류계열(중)  표준분류계열(소)  관심
0   1  IT융합학부 컴퓨터정보·보안전공     NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
1   2              디자인학부     NaN  ...     예체능계열         미술        디자인 NaN
2   3            소프트웨어학부     NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
3   4        융합컴퓨터·미디어학부     NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
4   5   전기전자컴퓨터학부 컴퓨터과학과     NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN

[5 rows x 18 columns]

### 그룹화
* 데이터를 그룹별로 분류
* df.groupby(인수)
  + 열 또는 열의 리스트
  + 행 인덱스
* 그룹 연산 메소드
  + size, count: 그룹 데이터의 갯수
  + mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
  + sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
  + first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

In [105]:
datag = data.groupby('지역')[['대학명']].count()
datag.sort_values('대학명', ascending=False)

    대학명
지역
경기   21
서울   19
충북   12
대전   11
부산   11
대구    9
경북    8
충남    7
광주    6
인천    6
전북    6
경남    5
전남    5
제주    5
강원    4
세종    1
울산    1

In [ ]:
area = list(data['지역'])

In [109]:
data['지역'].drop_duplicates()

0      대전
1      충북
2      서울
7      강원
9      경북
10     전북
12     전남
14     부산
15     광주
21     경기
27     인천
29     충남
44     경남
50     대구
55     제주
72     세종
136    울산
Name: 지역, dtype: object

In [115]:
 data[ (data['지역'] == '서울') | (data['지역'] == '부산') | (data['지역'] == '울산')

SyntaxError: ignored

In [113]:
my data[ (data['지역'] == '서울')

SyntaxError: ignored

### 시계열 자료
* **pd.to_datetime()** : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 변환
* **dt 접근자** : datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용
  +  year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보 추출

dt 접근자 | 내용 
-------------------|------------------
.dt.date         | YYYY-MM-DD(문자)
.dt.year         | 연(4자리숫자)
.dt.month        | 월(숫자)
.dt.month_name() | 월(문자)
.dt.day          | 일(숫자)
.dt.time         | HH:MM:SS(문자)
.dt.hour         | 시(숫자)
.dt.minute       | 분(숫자)
.dt.second       | 초(숫자)
.dt.quarter       | 분기(숫자)
.dt.day_name()  | 요일이름(문자)  
.dt.weekday       | 요일숫자(0-월, 1-화) (=dayofweek)
.dt.weekofyear    | 연 기준 몇주째(숫자) (=week)
.dt.dayofyear     | 연 기준 몇일째(숫자)
.dt.days_in_month | 월 일수(숫자) (=daysinmonth)

In [117]:
data = pd.read_csv('/content/drive/MyDrive/파일썬특강/python2021/data/대학자료.csv', encoding='cp949')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   구분       17 non-null     object
 1   신입생경쟁률   17 non-null     float64
 2   취업률      17 non-null     float64
 3   장학금      17 non-null     float64
 4   전임교원학생수  17 non-null     float64
dtypes: float64(4), object(1)
memory usage: 808.0+ bytes

In [ ]:
data.head()

In [ ]:
data['day'] = data['날짜'].str[:-3]
data['day'] = pd.to_datetime(data['day'])
data.info()

In [ ]:
data['요일'] = data['day'].dt.day_name()
data.head()



---
## 해결문제 


---

대학알리미 사이트에서 표준분류 정보 검색을 통해 '컴퓨터'관련 학과를 검색한 정보를 받아서 자료를 분석하시오.

1.'대학명','학과명', '지역', '설립유형', '표준분류계열(대)'

2.부산지역의 국립 대학 추출

In [128]:
data = pd.read_excel('/content/drive/MyDrive/파일썬특강/python2021/Pandas/표준분류 정보 (4).xlsx')
data

      No                학과명        대학명     구분  ...   표준분류계열(중) 표준분류계열(소) 특성화학과  관심
0      1            생명화학공학과    강릉원주대학교     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
1      2          에너지화학공학전공      강원대학교  제2캠퍼스  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
2      3             화학공학전공      강원대학교     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
3      4              화학공학부      건국대학교     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
4      5             화학공학전공      경기대학교     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
..   ...                ...        ...    ...  ...         ...       ...   ...  ..
145  146              화학공학과  호서대학교 대학원     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
146  147              화학공학과  홍익대학교 대학원     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
147  148  바이오화학공학과(학연산협동과정)  홍익대학교 대학원  제2캠퍼스  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
148  149     화학공학과(학연산협동과정)  홍익대학교 대학원     본교  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN
149  150           바이오화학공학과  홍익대학교 대학원  제2캠퍼스  ...  화공ㆍ고분자ㆍ에너지      화학공학   NaN NaN

[150 rows x 14 columns]

In [130]:
pusan = data[(data['지역'] == '부산') & (data['설립유형'] == '국립')]
pusan.loc[:,['대학명','학과명', '지역', '설립유형', '표준분류계열(대)']]

             대학명              학과명  지역 설립유형 표준분류계열(대)
24         부경대학교            화학공학과  부산   국립        공학
104    부경대학교 대학원  화학융합공학부(화학공학전공)  부산   국립        공학
105  부경대학교 산업대학원          응용화학공학과  부산   국립        공학
106  부산대학교 일반대학원          응용화학공학부  부산   국립        공학